.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#topiclist, #homepage, #topicform {
  background-color: rgb(168, 216, 189);
  border-width: 5px;
  color: rgb(122, 36, 47);
  margin: 70px;
  padding: 10px;
  background: rgba(204, 204, 204, 0.6);
  border-radius: 5px;
}

#navigation {
  background-color: seagreen;
  margin: 50px;
  padding: 10px;
}

#topicrows {
  background: rgb(233, 231, 231);
  border: rgb(0, 0, 0);
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
}

.button {
  background-color: rgb(88, 9, 3); /* Green */
  border: none;
  color: rgb(223, 217, 217);
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 8px;
}
.button:hover {
  background-color: rgb(226, 220, 217); /* Green */
  color:rgb(88, 9, 3);
}